%h1 About Us!
%p This website was developed with a simple goal in mind:
to unite people who share a common interest.

=image_tag asset_path('Fast_cars.gif')
= link_to 'Back Home', info_pages_home_path
= link_to 'Help', info_pages_help_path
